extends layouts/default/layout.pug

block head
  title About

block append stylesheets
  link(rel='stylesheet', href='./resources/stylesheets/pages/about.css')

block content
  div(style='height:1000px') about
