header
  .container
    .flex.justify-between.items-center
      a.lex-shrink-0(href='/')
        img(src='/resources/images/logo.webp', width=75, height=75)
      nav: ul.parent-nav.flex.px-6.mb-3
        li
          a.active(href='/about.pug') About
          ul.uppercase
            li: a(href='/about.pug') Leann
            li: a(href='/about.pug') Summer
            li: a(href='/about.pug') Maria
            li: a(href='/about.pug') Brianna
            li: a(href='/about.pug') Amy
            li: a(href='/about.pug') Laurie
            li: a(href='/about.pug') Dr.Nijjar
        li: a(href='/schedule') Schedule
        li
          a(href='/services') Services
            ul
              li: a(href='/services') Hair Cuts and Color
              li: a(href='/services') Blowouts, Styling, and Hair Extensions
              li: a(href='/services') Makeup, Waxing, and Eyelash Extensions
              li: a(href='/services') Medical Aesthetics
        li: a(href='/products') Products
        li: a(href='/buzz') Buzz
        li: a(href='/shop') Shop
